html
    head
        title something went wrong
    body
        p The application asking you to login does not comply with zdc security requirements. Use with caution and don't hesitate to contact our support.
