html
    head
        title something went wrong
        include ./headMeta
    body
        style
            include ./inline.css
        main
            p
                | The application asking you to login does not comply with zdc security requirements. Use with caution and don't hesitate to contact #{'\n'}
                a(href='#')   our support
                | .
