html
    head
        title zdc login page
        include ./headMeta
    body
        style
            include ./inline.css
        main
            form(method='POST', action='/magicLinks')
                p Send a valid email so we can provide you with a magic link to login into zdc
                input(hidden, name='grantId', value=grant.id)
                label
                    span Email
                    input(type='email',autofocus, name='email', required, placeholder='hello@example.com', autocomplete='email')
                input(type='submit',value='Send Magic Link')