html
    head
        title Email confirmation
        include ./headMeta
    body
        style
            include ./inline.css
        main
            p
                | A magiclink has been sent to the email address
                strong  #{email}
                | . Click the magic link to login into zdc
